.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin-bottom: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.errorMessage {
  margin: 0;
  color: tomato;
}